.banner-img {
  /* background: url("../../assets/Resources/Clothing.png") no-repeat center; */
  width: 100%;
  text-align: center;
  padding-top: 100px;
  color: white;
  overflow: hidden;
  /* background: #c04848; */
  /* background-image: url("../../assets/Resources/Clothing.png"); */
  background: linear-gradient(
      rgba(252, 252, 252, 0.89),
      rgba(252, 252, 252, 0.884)
    ),
    url("../../assets/Resources/Clothing.png");

  /* background: linear-gradient(rgb(72, 0, 72, 0.2), rgb(192, 72, 72, 0.2)),
    url("../../assets/Resources/Clothing.png"); */

  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: cover;
  background-position: center;
  color: #fff;
  background-blend-mode: multiply; */
  height: 600px;
  /* position: relative; */
}

.content_4 {
  /* border: 5px solid; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: black;
}

/* .content_4::after {
  content: "";
  position: absolute;
  background: #074f57;
  inset: 0;
  z-index: -1;
} */
